<h1>Make a new Appearance</h1>

<%= form_for @appearance do |appear| %>
<%= appear.collection_select :guest_id, @guests, :id, :name, {include_blank: 'Pick a Guest'} %>
<br>
<%= appear.collection_select :episode_id, @episodes, :id, :date, {include_blank: 'Pick an Episode'} %>
<br>
<%= appear.label :rating %>
<%= appear.text_field :rating%>
<br>
<%= appear.submit %>
<% end %>